<!DOCTYPE html>
<html>
    <head>
        <title>Page d'accueil</title>
        <link rel="stylesheet" href="assets/css/bootstrap.min.css">
        <link rel="stylesheet" href="assets/css/toastr.min.css">
    </head>
    <body>
        <div class="container">
            <h1 class="page-header">Page d'accueil</h1>
            <p class="alert alert-info">
                Veuillez commencer votre developpement en supprimant ce route ou en changant de direction pour votre application.
            </p>
            <h2>Nous chez AWA HUB</h2>
            <hr>
            <p class="page-footer">
                &copy; Copyright 2017, {{application}}
            </p>
        </div>
    </body>

    <script src="assets/js/jquery.min.js"></script>
    <script src="assets/js/scripts.js"></script>
</html>
