{% extends "base.html" %}

{% block corps  %}
<h1>Les produits dans notre base de donnes</h1>

<ul>
    {% for row in products %}
        <li>#{{ row.id }}.  <a href="{{ rootLink }}products/details/{{ row.id }}">{{ row.nom }}</a> - {{ row.prix }} USD</li>
    {% endfor %}
</ul>
{% endblock %}